*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* .body_class{
    padding: 2rem;
    background-color: rgba(2, 2, 8, 0.948);
    color: rgb(248, 248, 248);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}    */

p{
    font-family:fantasy;
} 
.content{
    max-width: 100%;
    padding: 2rem;
    margin: auto;
    text-align: center;
    border-image: linear-gradient(#1353b5, #4d9f0c) 30;
    border-width: 4px;
    border-style: solid;

    

}

#ul_hover>:hover{
  color:rgb(168, 190, 186);
  cursor:pointer
  }
.weather_info{
    text-align: center;
}
.form-elements{
    max-width: 900px;
    margin: auto;
    
}
#button_form{
    margin-left: 2rem;
}



